html{

	background-color: #7E8ACC;
}
body{
	background-color: #7E8ACC;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}
p, div {
    font-family: 'Lato', sans-serif;
}

div.modal-body{
	background-color: #D9C87B;/*#CCBEB8;*/
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.modal-content, .modal-dialog, .modal, .fade, .input-group-addon{
	border: 0px solid #000;
	background-color:transparent;
}


ul.class-list{
	font: inherit;
	text-align: center;
}

li.select{
	list-style-type: none;
	font-size: 50px;
	display: inline-block;
}

li.select button{
	border: 0px solid #000;
  	font-weight: bold;
  	background-color: #D9C87B;
  	width: 500px;
  	text-align: center;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

}

input{
	background-color: #D9C8B1;
	border: 0px solid #000;
}

input.form-control{
	background-color: #D9C8B1;
	border: 0px solid #000;
}